* {
    box-sizing: border-box;
}
/* body styles */
body{
    margin: 0;
    font: 1em sans-serif;
}
/* header styles */
/* header{} */

/* nav bar styles */
nav {
    border: 4px solid lightblue;
    border-left: none;
    border-right: none;
    background-color: aliceblue;
    width: 100%;
    height: 70px;
}
nav img{
    display: inline;
    float: left;   
    border: 2px solid aliceblue;
    transition: .3s;
    border-radius: 50%;
    margin: 0 30px;
}
nav img:hover{
    border: 2px solid darksalmon;
    border-radius: 10%;
}
nav ul {
    width: 800px;
}
nav li {
    line-height: 30px;
}
nav li a {
    padding: 15px 40px;
	text-decoration: none;
	font-weight: bold;
	color: #0078b3;
    border: 2px solid aliceblue; /*same colour as background, so link doesn't expand because of hover border colour change.*/
    transition: .3s;
}
nav li a:hover {
	color: darksalmon;
	background-color: white; 
    border: 2px solid lightblue;
    transition: .3s;
}
nav li a:active{
    background-color: azure;
}
ul li {
    display: inline;
    list-style: none;
    /* margin-left: 20px; */
}
a#home, a#contact, a#about, a#paris {
    color: #003c5a;
}
/* main styles */
main{
    margin: 0 80px;
}

.body {
    margin-left: 16px;
    float: right;
    width: 45%;
}

.body p {
    margin-top: 0px;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.slideShow {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 50%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 60, 90, 0.8);
}

/* Number text (1/3 etc) */
.slideNumber {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    margin-right: 50%;
    text-align: center;
    background-color: #003c5a;
    padding: 2px 16px;
    color: white;
}

.row {
    margin-right: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 20%;
}

/* Add a transparency effect for thumnbail images */
.gallery {
    opacity: 0.6;
}

.active, .gallery:hover {
    opacity: 1;
}

/* style for footer element */

footer {
    background-color: aliceblue;
    border: 2px solid lightblue;
    color: #0078b3;
    font-size: small;
    height: 100px;
    width: 100%;
}

/* style for the unordered list in the footer element */

footer ul {

    text-align: right;
}

/* style for the items of the unordered list in the footer element */

footer ul li {
    float: left;
    line-height: 64px;
    padding-right: 16px;
}

/* style for the last 5 items of the unordered list in the footer element */

footer ul li:nth-last-child(5), footer ul li:nth-last-child(4), footer ul li:nth-last-child(3), footer ul li:nth-last-child(2), footer ul li:nth-last-child(1){

    float: none;
    line-height: 48px;
}

/* style for the links in the footer element */

footer a {
    text-decoration: none;
    color: #0078b3;
}

/* style for hovering on links in the footer element */

footer a:hover {

    color: darksalmon;
}

footer label {

    font-weight: bold;
}

/* style for the select in the footer */

footer select {
    background-color: aliceblue;
    border: none;
    color: #0078b3;
    text-align: center;
    outline: none;
}

/* style for the formating the select in the footer */

footer ul li section {

    display: inline-block;
}

footer ul li div {
    text-align: center;
    height: 16px;
}